<div class="message">
  <div class="message-header" style="flex-direction: column; align-items: left">
    <div><strong>From:</strong> <%= message.sender.name %></div>
    <div><strong>To:</strong> <%= message.recipient.name %></div>
  </div>
  <div class="message-body"><%= message.body %></div>
</div>