<div class="comment card-content" id="<%= dom_id comment %>">
  <div class="media">
    <div class="media-left">
      <p class="image is-32x32">
        <%= image_tag comment.user.image_url_or_default %>
      </p>
    </div>
    <div class="media-content">
      <%= comment.body %>
      <div class="level">
        <div class="level-left js-comment-like-status">
          <%= render "comments/comment_like_status", comment: comment %>
        </div>
      </div>
    </div>
  </div>
</div>