<h1 class="title">People</h1>

<% @users.in_groups_of(2, false).each do |group| %>
  <div class="columns">
  <% group.each do |user| %>
    <div class="column">
      <%= render 'user_card', user: user %>
    </div>
  <% end %>
  </div>
<% end %>
