<h2>Users</h2>

<%= link_to "Create An Account", new_user_path %>

<table>
  <% User.all.each do |user| %>
    <tr>
      <td><%= image_tag user.image_url_or_default %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
