<%= render "wall/cover", user: @user %>
<div class="columns">
  <div class="column is-one-third">
    <%= render "users/profile_box", user: @user %>
  </div>
  <div class="column">
    <%= render "posts/form", post: Post.new(wall_user: @user) %>
    <%= render @user.wall_posts %>
  </div>
</div>
