$color1: rgba(30, 21, 42, 1);
$color2: rgba(78, 103, 102, 1);
$color3: rgba(90, 177, 187, 1);
$color4: rgba(165, 200, 130, 1);
$color5: rgba(247, 221, 114, 1);

$background: #efefef;

$primary: $color3;
$success: $color4;
$warning: $color5;
// #9EC5AB
// #01200F
// #011502
// $navbar-background-color: #3b5998;
$primaryColor: darken($primary, 10%);
$linkColor: #efefef;

$navbar-background-color: $primaryColor;

$navbar-item-color: $linkColor;
$navbar-item-hover-color: $linkColor;
$navbar-item-hover-background-color: darken($primaryColor, 10%);

$navbar-dropdown-background-color: $primaryColor;
$navbar-dropdown-item-active-background-color: $primaryColor;
$navbar-dropdown-item-hover-background-color: darken($primaryColor, 10%);
$navbar-dropdown-item-hover-color: $linkColor;
