.navbar-burger {
  &:hover {
    background-color: darken($primaryColor, 10%);
  }
  > span {
    background-color: white;
  }
}

.navbar-brand .navbar-item {
  padding: 0;
  img {
    max-height: 3rem;
  }
}

span.icon {
  margin-right: 5px;
}

.navbar-item .field {
  .input,
  .icon {
    height: 1.8em;
  }
}

a.wall-image-link {
  line-height: 24px;
  img {
    vertical-align: middle;
  }
}