.wall {
  .hero-body {
    margin-bottom: -5rem;
  }

  .image {
    z-index: 1;
  }

}
.wall-tabs {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  &.is-boxed a {
    border-radius: 0;
  }
}
